html {
  /* Positioning */
  position: relative;
  align-content: center;
}

/* INDEX.HTML START */

body {
  font-family: ‘Commissioner’, sans-serif;

}

h3 h5 {
  font-family: 'Bad Script', cursive;
  text-align: center;
}

p {
  font-family: ‘Commissioner’, sans-serif;
  text-align: center;
}

.container {
  box-sizing: inherit;
  margin-right: auto;
  margin-left: auto; 
}

#landing{
  width: fit-content;
}

#title {
  text-align: center;
}

.welcomeBack {
  text-align: center;
}

#submit {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}

.select button:hover {
  text-align: center;
}

#workoutBtn {
  width: 200px;
  height: 40px;
  margin-right: 30px;
  margin-left: 15px;
}

#nutritionBtn {
  width: 200px;
  height: 40px;
}

.hide {
  display: none;
}

.show {
  display: block;
}
/* INDEX.HTML STOP */


/* NUTRITION.HTML START */
#nutrition {
  background-color: #F4F2F0;
}

#label {
  font-size: medium;
}

#find-food{
  cursor: pointer;
  
}

#total-save{
  width: 15%;
  height: 50px;
  padding-left: 5%;
  padding-right: 5%;
  cursor: pointer;
}

#draw{
  width: 15%;
  height: 50px;
  padding-left: 5%;
  padding-right: 5%;
  cursor: pointer;
}

/* NUTRITION.HTML STOP */